{% extends 'base.twig' %}

{% block content %}

	<h1>
		{{ post.title }}
	</h1>

	{{ post.content }}

	<div
		class="rating"
		data-upvotes="{{ upvotes }}"
		data-downvotes="{{ downvotes }}"
		data-rating="{{ rating }}"
	>
		<div class="bar" style="width: {{ width }}%"></div>
	</div>

	<a class="button downvote">:-|</a>
	<a class="button upvote">:-D</a>

	<br><br><br>

	<p>
		<a class="button secondary" href="{{ archivelink }}">
			&blacktriangleleft; {{ __('Jokes overview', 'tp') }}
		</a>

		<a class="button" href="{{ nextpostlink }}">
			{{ __('Next joke', 'tp') }} &blacktriangleright;
		</a>
	</p>

{% endblock %}
