{% extends 'base.twig' %}

{% block content %}

	<h1>
		{{ post.title }}
	</h1>

	{{ post.content }}

	<p><span class="grade">{{ post.rating.grade }}</span> op basis van <span class="totalvotes">{{ post.rating.totalvotes }}</span> stemmen</strong>

	{% include 'partials/rating-bar.twig' %}

	<a class="button downvote">:-|</a>
	<a class="button upvote">:-D</a>

	<br><br><br>

	<p>
		<a class="button secondary" href="{{ archivelink }}">
			&blacktriangleleft; {{ __('Jokes overview', 'tp') }}
		</a>

		<a class="button" href="{{ nextpostlink }}">
			{{ __('Next joke', 'tp') }} &blacktriangleright;
		</a>
	</p>

{% endblock %}
