{% extends 'base.twig' %}

{% block content %}

	<h1>
		{{ post.title }}
	</h1>

	{{ post.content }}

	<p>
		<a class="button secondary" href="{{ archivelink }}">
			&blacktriangleleft; {{ __('Jokes overview', 'tp') }}
		</a>

		<a class="button" href="{{ nextpostlink }}">
			{{ __('Next joke', 'tp') }} &blacktriangleright;
		</a>
	</p>

{% endblock %}
