<!DOCTYPE html>
<html {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DRDNWEC0M4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-DRDNWEC0M4');
    </script>

    <!-- Google AdSense -->
    <script data-ad-client="ca-pub-3601072128345230" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- End Google AdSense -->
    {{ wp_head }}
  </head>

  <body class="{{ body_class }}" ontouchstart="">
    <header class="header">
      <div class="wrapper">
        <a class="logo" href="{{ site.url }}">
          {{- site.name -}}
        </a>

        {% include 'partials/main-navigation.twig' %}
        {% include 'partials/navigation-toggle.twig' %}
      </div>
    </header>
